  #banner{
    width: 100%;
  }
  #offcanvasDarkNavbar{
    background-color: #e0e0e0ef;
  }
  nav{
    background-color: #ffffff;

  }
  /* #bottom{
    height: 130vh;
  } */
  #review{
    background: #dbdbdb69;
  }
  #btt{
    border: 1px rgba(28, 28, 119, 0.89) solid;
    color: rgba(28, 28, 119, 0.89);
    font-weight: 500;
  }
  #bttt{
    border: 1px #009900 solid;
    color: rgba(28, 28, 119, 0.89);
  }
  #bttt:hover{
    background: linear-gradient(to top, #009900, rgba(28, 28, 119, 0.89));
    color: #ffffff;
  }
  #btt:hover{
    background: linear-gradient(to top, #009900, rgba(28, 28, 119, 0.89));
    color: #ffffff;
  }
  #next{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  #text-success{
    color: #009900;
  }
  #logo{
    filter: drop-shadow(5px 5px 15px white);
  }
  #primary{
    color: rgba(28, 28, 119, 0.89);
    font-weight: 800;
  }
 #frame{
    padding-top: 5.5rem;
 }
  #title{
   color: rgba(28, 28, 119, 0.89);
   font-weight: 700;
  }
  #parag{
    color: rgba(35, 35, 107, 0.774);
    font-weight: 600;
  }
  #banner {
      background: linear-gradient(-45deg, rgba(227, 227, 228, 0.89), rgba(227, 227, 228, 0.89), rgba(227, 227, 228, 0.89), rgba(227, 227, 228, 0.89));
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      padding: 5.5rem 2rem;

  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  @media screen and (max-width: 900px){
    #scroll{
      display: none;
    }
  }